localhost/post {
    log stdout
    proxy / 127.0.0.1:5000 :5001 :5002 {
        policy round_robin
        transparent
    }
}

localhost/vote {
    log stdout
    proxy / 127.0.0.1:5100 :5101 :5102 {
        policy round_robin
        transparent
    }
}